:root {
    --theme-color-light: #59c81d;
    --theme-color: #458422;
    --theme-color-dark: #3b6c21;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(33, 32, 32);
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: Signika;
}


body {
    background-color: inherit;
    color: inherit;
    margin: 0;
}

.notification-text {
    position: fixed;
    top: 80px;
    left: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: red;
}

.notification-text p {
    margin: 8px;
}

header {
    background-color: rgb(23, 22, 22);
    min-height: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
        inset 0 5px 10px rgba(0,0,0,0.6),    /* vasen & ylä */
        inset 0 -5px 10px rgba(255,255,255,0.09); /* oikea & ala */
}

header h2 {
    font-size: 43px;
    margin: 0;
}

header p {
    font-size: 24px;
}

.header-container {
    width: min(1000px, calc(100% - 345px)); 
    display: flex;
    justify-content: space-around;
    align-content: baseline;
    padding: 80px 0;
}


.ball-container {
    width: calc(min(1000px, calc(100% - 345px)) - 28px);
    height: 350px;
    border: 14px solid rgb(33, 32, 32);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 80px;
    box-shadow:
        inset 5px 5px 10px rgba(0,0,0,0.6),
        inset -5px -5px 10px rgba(255,255,255,0.09),
        5px 5px 10px rgba(0,0,0,0.6),
        -5px -5px 10px rgba(255, 255, 255, 0.09);
}

section {
    width: 100%;
    max-width: min(1000px, calc(100% - 345px));         /* Maksimileveys, jota ei ylitetä */
    min-height: 500px;
    margin: 80px auto;            /* Keskittää vaakasuunnassa */
    margin-bottom: 80px;
    scroll-margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;    /* Sisällöt eivät riko leveyttä */
  }

img {
    display: block;
    user-select: none;
    -webkit-user-drag: none;
}

h2 {
    font-weight: 600;
}

.theme-color {
    color: var(--theme-color-light);
}

.container {
    background-color: rgb(27, 26, 26);
    border-radius: 10px;
    box-shadow:
        inset 5px 5px 10px rgba(0,0,0,0.6),    /* vasen & ylä */
        inset -5px -5px 10px rgba(255,255,255,0.09); /* oikea & ala */
}


.round-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(33, 32, 32);
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    box-shadow:
                5px 5px 10px rgba(0,0,0,0.6),
                -5px -5px 10px rgba(255, 255, 255, 0.09);
}

.round-img {
    width: 290px;
    height: 290px;
    border-radius: 50%;
}

footer {
    background-color: rgb(23, 22, 22);
    margin-top: 20px;
    min-height: 150px;
    box-shadow:
        inset 5px 5px 10px rgba(0,0,0,0.6);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

#lk-container {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

#lk-logo {
    width: 44px;
    height: 44px;
    margin-right: 8px;
}

#lk-name-container {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

#firstname {
    font-size: 21px;
}

#lastname {
    font-size: 15px;
}

#vert-navbar {
    position: fixed;
    top: 120px;
    right: calc((100vw - 1000px) / 2 - 160px);
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    z-index: 1000;
}

.nav-link {
    color: rgb(100, 100, 100);
    text-decoration: none;
    padding: 6px 0px;
    font-size: 20px;
}

.nav-link:hover {
    font-size: 21px;
    color: rgb(163, 163, 163);
}

.nav-link.active {
    font-size: 22px;
    color: rgb(229, 229, 229);
  }

.link-buttons-container {
    width: 200px;
    display: flex;
    align-items: center;
}

.link-button {
    cursor: pointer;
    display: grid;
    place-items: center;
    background-color: rgb(33, 32, 32);
    height: 48px;
    width: 70px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6),
        -2px -5px 10px rgba(255, 255, 255, 0.08);
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: var(--theme-color-dark)/*rgb(90, 62, 62)*/;
}

.link-button:active {
    background-color: var(--theme-color-light);
    /*box-shadow:
        inset 5px 5px 10px rgba(0,0,0,0.7),
        inset -5px -5px 10px rgba(255,255,255,0.19);*/
}

.github-bg {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: white;
    display: grid;
    place-items: center;
    border: none;
}

.link-button-img {
    height: 36px;
    width: auto;
}

@media (max-width: 1360px) {
    /*section {
        max-width: calc(100% - 345px);
    }*/

    #vert-navbar {
        right: calc((100vw - (100% - 345px)) / 2 - 160px);
    }
}

@media (max-width: 1100px) {
    body {
        color: red;
    }

    section {
        max-width: 740px;
    }
}